<form id="site-create-form" action="{{ path('app_site_update', {id: site.id}) }}"
      method="POST">
    
    <div class="form-group">
        <label for="domain" class="form-label fs-5">Domain</label>
        <input type="text" class="form-control" id="domain" name="domain"
               value="{{ site.domain }}">
    </div>

    <div class="form-group">
        <label for="title" class="form-label fs-5">Title</label>
        <input type="text" class="form-control" id="title" name="title"
               value="{{ site.title }}">
    </div>

    <div class="form-group">
        <label for="phpVersion" class="form-label fs-5">Php Version</label>
        {% set php_versions = ['5.6', '7.4', '8.0', '8.1', '8.2'] %}
        <select name="phpVersion" class="form-control">
            {% for version in php_versions %}
                <option value="{{ version }}" {{ site.phpVersion == version ? 'selected' : '' }}>
                    php{{ version }}-fpm
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="documentRoot" class="form-label fs-5">Document Root</label>
        <input type="text" class="form-control" id="documentRoot"
               name="documentRoot" value="{{ site.documentRoot }}">
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            Save
        </button>
    </div>
</form>