<form id="site-create-form" action="{{ path('app_site_update', {id: site.id}) }}"
      method="POST" class="form-default">

    <div class="form-group mb-3">
        <label for="domain" class="form-label">Domain</label>
        <span class="small text-muted">site.local</span>
        <input type="text" class="form-control" id="domain" name="domain"
               value="{{ site.domain }}">
    </div>

    <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title"
               value="{{ site.title }}">
    </div>

    <div class="form-group mb-3">
        <label for="phpVersion" class="form-label">PHP Version</label>
        <select name="phpVersion" id="phpVersion" class="form-control">
            {% for phpVersion in phpVersions %}
                <option value="{{ phpVersion.version }}" {{ site.phpVersion == phpVersion.version ? 'selected' : '' }}>
                    {{ phpVersion.version }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group mb-4">
        <label for="documentRoot" class="form-label">Document Root</label>
        <span class="small text-muted">/var/www/site/public</span>
        <input type="text" class="form-control" id="documentRoot"
               name="documentRoot" value="{{ site.documentRoot }}">
    </div>

    <div class="form-group mb-3">
        <label for="title" class="form-label">Site Directory</label>
        <span class="small text-muted">/var/www/site/</span>
        <input type="text" class="form-control" id="title" name="siteDirectory"
               value="{{ site.siteDirectory }}">
    </div>

    <div class="form-group mb-3">
        <label for="title" class="form-label">Default Document</label>
        <span class="small text-muted">index.php index.html index.htm default.php default.html default.htm</span>
        <input type="text" class="form-control" id="title" name="defaultDocument"
               value="{{ site.defaultDocument }}">
    </div>

    <div class="d-flex px-0">
        <a href="{{ path('app_apache_delete_site', {id: site.id}) }}"
           class="btn btn-outline-danger me-auto">Delete</a>

        <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            Save
        </button>
    </div>
</form>
