{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}

    {% include 'flash.html.twig' %}

    <div class="row mb-4">
        <div class="col-6">
            <h2><i class="fa-solid fa-link me-1"></i> Sites</h2>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-outline-{{ apacheStatus ? 'success' : 'danger' }} me-4"
                    data-bs-toggle="modal"
                    data-bs-target="#modalApacheStatus">
                Apache is {{ apacheStatus ? 'active' : 'inactive' }}
            </button>

            <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-primary"
                   data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-regular fa-file me-2"></i>
                    New site
                </a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-center table-hover mb-4">
            <thead class="">
            <tr class="table-primary">
                <th>DOMAIN</th>
                <th>TITLE</th>
                <th>PHP VERSION</th>
                <th>DOCUMENT ROOT</th>
                <th>DEFAULT DOCUMENT</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            {% for site in pagination.items %}
                <tr>
                    <td>
                        <a href="https://{{ site.domain }}" target="_blank"
                           class="link-underline link-underline-opacity-0">{{ site.domain }}</a>
                    </td>
                    <td>{{ site.title }}</td>
                    <td class="text-center">{{ site.phpVersion }}</td>
                    <td class="small">{{ site.documentRoot }}</td>
                    <td class="small">{{ site.defaultDocument }}</td>
                    <td>
                        <a href="javascript:void(0);"
                           class="btnConfirmar"
                           title="Criar ou atualizar configurações"
                           data-route="{{ path('app_apache_create_site', {id: site.id}) }}"
                           data-title="Gerar Arquivos?"
                           data-msg="Esse processo irá gerar ou atualizar os arquivos de configuração.">
                            <i class="fa-solid fa-terminal"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#editModal" data-bs-toggle="modal"
                           data-route="{{ path('app_site_edit', {id: site.id}) }}"
                           data-target="#editModalBody" class="editModal">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Site Create</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'site/create.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby=""
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="">Site Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="editModalBody"></div>
            </div>
        </div>
    </div>

    {% include 'site/modalApacheStatus.html.twig' %}

{% endblock %}

{% block javascripts %}

{% endblock %}