{% extends 'base.html.twig' %}

{% block title %}PHP{% endblock %}

{% block body %}

    {% include 'flash.html.twig' %}

    <div class="row mb-4">
        <div class="col-6">
            <h2><i class="fa-solid fa-scroll me-1"></i> PHP Versions</h2>
        </div>
        <div class="col-6 text-end">
            <div class="btn-group">
                <a href="{{ path('app_phpversion_update') }}" class="btn btn-primary">
                    <i class="fa-solid fa-arrows-rotate me-2"></i>
                    Update
                </a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-center table-hover mb-4">
            <thead class="">
            <tr class="table-primary">
                <th>PHP VERSION</th>
                <th>PATH</th>
                <th class="text-center">STATUS</th>
                <th width="300">&nbsp;</th>
                <th width="10">&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            {% for entity in pagination.items %}
                <tr>
                    <td>{{ entity.version }}</td>
                    <td>{{ entity.path }}</td>
                    <td class="text-center">{{ entity.isStatus(status[entity.version]) | raw }}</td>

                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('app_phpversion_start', {id: entity.id}) }}"
                               class="btn btn-secondary btn-sm">
                                <i class="fa-regular fa-circle-play me-1"></i> {{ 'btn.start' | trans }}
                            </a>

                            <a href="{{ path('app_phpversion_restart', {id: entity.id}) }}"
                               class="btn btn-secondary btn-sm">
                                <i class="fa-solid fa-arrows-rotate me-1"></i> {{ 'btn.restart' | trans }}
                            </a>

                            <a href="{{ path('app_phpversion_stop', {id: entity.id}) }}"
                               class="btn btn-secondary btn-sm">
                                <i class="fa-regular fa-circle-stop me-1"></i> {{ 'btn.stop' | trans }}
                            </a>
                        </div>
                    </td>

                    <td class="text-end">
                        <a href="#editModal" data-bs-toggle="modal"
                           data-route="{{ path('app_phpversion_edit_ini', {id: entity.id}) }}"
                           data-target="#editModal .modal-body">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% include 'php_version/modal.html.twig' %}

{% endblock %}

{% block javascripts %}

{% endblock %}