<p class="text-body-tertiary">{{ configFileDto.name }}</p>

<form id="site-create-form" action="{{ path('app_phpversion_update_ini', {id: entity.id}) }}"
      method="POST">

    <div class="form-group mb-4">
        <textarea cols="30" rows="20" class="form-control block-code"
                  id="content"
                  name="content"
                  spellcheck="false">{{ configFileDto.content }}</textarea>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            {{ 'btn.save' | trans }}
        </button>
    </div>

</form>

<p class="text-warning">{{ 'phpversion.phpIni' | trans }}</p>
