<form action="{{ path('app_database_update', {id: database.id}) }}" method="POST">

    <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name"
               value="{{ database.name }}">
    </div>

    <div class="form-group mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username"
               value="{{ database.username }}">
    </div>

    <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password"
               value="{{ database.password }}">
    </div>

    <div class="form-group mb-3">
        <label for="permission" class="form-label">Permission</label>
        <select class="form-control" id="permission" name="permission">
            <option value="localhost" {{ database.permission == 'localhost' ? 'selected': '' }}>
                Localhost
            </option>
            <option value="*" {{ database.permission == '*' ? 'selected': '' }}>
                Everyone
            </option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="note" class="form-label">Note</label>
        <textarea class="form-control" rows="5" id="note"
                  name="note">{{ database.note }}</textarea>
    </div>

    <div class="d-flex px-0">
        <a href="javascript:void(0)"
           data-route="{{ path('app_database_delete', {id: database.id}) }}"
           data-title="Remover Database?"
           data-msg="Esse processo irá remover o usuário e base de dados."
           class="btn btn-outline-danger me-auto btnExcluir">
            {{ 'btn.delete' | trans }}
        </a>

        <button type="button" class="btn btn-secondary me-3"
                data-bs-dismiss="modal">{{ 'btn.close' | trans }}
        </button>

        <button type="submit" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk me-2"></i>
            {{ 'btn.save' | trans }}
        </button>
    </div>
</form>